{
    text-align: center;
    border-style: solid;
    border-radius: 20px;
}
.pag {
    width: 100vw;
    height: 100vh;
    background: #609ad8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.conteudo {
    width: 300px;
    height: 300px;
    background: #fff;
}
body {
    margin: 0px;
}
